body {
    background-color: bisque;
    font-family: 'Times New Roman', Times, serif;
}

#nav-bar {
    background-color: rgb(113, 185, 252);
    text-align: center;
    margin-bottom: 20px;
    clear: both;
}

#nav-bar li:hover{
    background-color: rgb(4, 156, 245);
    color: white;

}

#nav-bar ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    text-align: center;
}
