* {
    margin: 0;
}

body {
    background-color: #01303f;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/* Navigation Bar */
#nav-bar {
    background-color: #02577a;
    color: white;

    text-align: center;
}

#nav-bar li:hover {
    background-color: #8589ad;
    color: white;
}

#nav-bar ul li {
    list-style-type: none;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

#nav-bar a {
    color: white;
    text-decoration: none;
}

button:hover {
    background-color: #3d405b;
    color: #f4f1de;
}

/* Sections */

main {
    padding: 10px;
    margin: auto;
    width: 50%;
}

#logo-heading {
    font-size: 4em;
    text-align: center;
    margin: 40px;
}

#tagline {
    text-align: center;
}

#quick-converter {
    text-align: center;
}

/* about section */

#about-section {
    margin: 20px auto;
    padding: 20px;
    background-color: #014a5a;
    border-radius: 10px;
}

#about-section h2 {
    margin-bottom: 15px;
    text-align: center;
}

#about-section p {
    margin-bottom: 20px;
    line-height: 1.8;
}

#currencies-list {
    margin-top: 15px;
    padding: 15px;
    background-color: #02577a;
    border-radius: 8px;
    overflow-y: auto;
    max-height: 300px;
}

#currencies-list ul {
    padding: 0 10px;
}

#currencies-list li {
    margin: 5px 0;
    font-size: 16px;
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
}

/* conversion page */

#conversion-input select,
#conversion-input input {
    width: 150px;
    font-size: 14px;
    padding: 3px;
}

#conversion-input input {
    width: 150px;
    font-size: 14px;
    padding: 3px;
}

#conversion-input {
    margin: 20px auto;
    padding: 20px;
    background-color: #014a5a;
    border-radius: 10px;
}

button:hover {
    background-color: #3d405b;
    color: #f4f1de;
    cursor: pointer;
}

/* Crypto Converter Section */
#crypto-title {
    font-size: 4em;
    text-align: center;
    margin: 40px 0;
    color: white;
}

#crypto-converter {
    margin: 20px auto;
    padding: 20px;
    background-color: #014a5a;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

#crypto-converter label,
#crypto-converter select,
#crypto-converter input {
    display: block;
    margin: 10px auto;
    width: 70%;
    max-width: 300px;
    font-size: 16px;
    padding: 5px;
    border: 1px solid #02577a;
    border-radius: 5px;
}

#crypto-converter select {
    text-align-last: center;
}

#cryptoResult {
    margin-top: 20px;
    font-size: 1.2em;
    background-color: #02577a;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Crypto Chart Section */
#crypto-chart {
    margin-top: 30px;
    padding: 20px;
    background-color: #014a5a;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

canvas {
    max-width: 100%;
    margin: 20px auto;
    display: block;
}

/* Dropdown for Chart */
#cryptoChart {
    margin-top: 10px;
    font-size: 16px;
    padding: 5px;
    width: 70%;
    max-width: 300px;
    border: 1px solid #02577a;
    border-radius: 5px;
}

#result {
    font-size: 30px;
    margin: 40px auto;
    font-weight: bold;
}
